.return-shipping-order{
    width: 10rem;
    .form-row{
        width: 9rem;
        height: 48px;
        margin: 26px auto 0px;
        .input{
            width: 100%;
            height: 48px;
            border: solid 1px #DFDFDF;
            border-radius: 3px;
            line-height: 32px;
            padding: 8px 8px;
            outline: none;
            background: #F4F4F4;
        }
    }
    .select-form-row{
        position: relative;
        &:before{
            font-family: "iconfont" !important;
            content: '\e77b';
            display: block;
            width: 46px;
            height: 46px;
            font-size: 20px;
            color: #999;
            text-align: center;
            line-height: 46px;
            position: absolute;
            right: 1px;
            top: 1px;
            background: #F4F4F4;
        }
        .select{
            display: block;
            width: 9rem;
            height: 48px;
            line-height: 46px;
            padding: 0px 8px;
            border: solid 1px #DFDFDF;
            outline: none;
            border-radius: 3px;
            background: #F4F4F4;
        }
    }
    .submit-row{
        margin-top: 360px;
    }
}